fastapi
uvicorn
python-multipart
python-dotenv==1.0.0
# Preprocessing dependencies
numpy
rasterio
Pillow
pydantic
pydantic-settings

# Testing dependencies
pytest==8.0.0

langchain-groq
langchain-core
langgraph