@import "tailwindcss";
@import "./styles/globals.css";
@config "../tailwind.config.js";

@layer base {
  html {
    font-family: var(--font-sans);
  }

  body {
    background-color: var(--color-surface);
    color: var(--color-text-primary);
    min-height: 100vh;
  }
}
